/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

kbd {
	@apply inline-block p-1 bg-gray-100 border border-gray-300 rounded-md shadow-inner font-mono text-xs text-gray-600 opacity-50
}